<body>

<div class="topnav">
    <a class="active" href="#home">BITE Studio</a>
    <div class="topnav-right">
      <a href = "/loginsuccess">What is BITE?</a>
      <a href = "/show">Show LogFiles</a>
      <a href = "/login">Log Out</a>
    </div>
  </div> 
 
  <div class="container" style="text-align: center; margin-top: 50px;">
  <h3 style="color: rgb(241, 11, 11);">Successfully Uploaded</h3><br>
    <button class="button" [routerLink]="['/show']"><span>Show Files</span></button> 
    </div>
</body>

  
