

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="topnav">
    <a class="active" href="#home">BITE Studio</a>
    <div class="topnav-right">
      <a href="#search">Login</a>
      <a  (click)="gotoregistration()">Sign Up</a>
    </div>
  </div> 

  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <img src="https://api.freelogodesign.org/files/0cc68538948843c187ec8b601a7abde1/thumb/logo_200x200.png?v=637551981670000000" alt="Simply Easy Learning" width="300" height="300">
                <h2 class="login-heading mb-4">Welcome</h2>
                <form  #loginform = "ngForm" (ngSubmit)="loginUser()">
                  <small class="text-danger">
                    {{msg}}
                </small>
                  <div class="form-label-group">
                    <input type="email" autocomplete="off" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required autofocus>
                    <label for="inputEmail"></label>
                    <div *ngIf= "email.errors && (email.invalid && email.touched)">
                      <small class="text-danger" *ngIf= "email.errors.required">This is a required Field</small>
                      <small class="text-danger" *ngIf= "email.errors.pattern">Email pattern doesn't match</small>
                      
                  </div>
                  </div>
  
                  <div class="form-label-group">
                    <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password"  #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" required>
                    <label for="inputPassword"></label>
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">This field is required</small>
                    
                  </div>
  
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                  <button [disabled]="loginform.form.invalid" type="submit"class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Sign in</button>
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a></div>
                    <br>
                    <p style="text-align: center;">OR</p>
                    
                    <button (click)="gotoregistration()" type="submit"class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" >New User? Register Here</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</body>
</html>