<div class="container" style="max-width: 600px; background-color: aquamarine; margin-top: 40px;; padding-bottom: 13px; padding-top: 10px;" >
    <h2>User Registration</h2>
    <form #Registerform = "ngForm" (ngSubmit)="registerUser()">
        <small>
            {{msg}}
        </small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <!-- <small class="text-danger" [class.d-none]="email.valid && email.untouched">Invalid email pattern</small> -->
        <div *ngIf= "email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf= "email.errors.required">This is a required Field</small>
            <small class="text-danger" *ngIf= "email.errors.pattern">Email pattern doesn't match</small>
        </div>
      </div>

      <div class="form-group">
        <label for="uname">User Name</label>
        <input type="text" class="form-control" placeholder="Enter Username" name="username" [(ngModel)]="user.userName" #username="ngModel" required [class.is-invalid]="username.invalid && username.touched">
        <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is a required field</small>
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password"  #password="ngModel" required [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">This field is required</small>
      </div>

      <div class="form-group">
        <label for="cpwd">Confirm Password:</label>
        <input type="password" class="form-control" placeholder="Confirm password" name="cpassword" #cpassword="ngModel" [(ngModel)]="user.password" required [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">both should same</small>
      </div>
      
      <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
    
    <!-- <small class="float-right" >New User?</small><br> -->
    <h6 class="float-right" style="margin: auto;">Existing User->&nbsp;<button class= "btn btn-success btn-sm"  [routerLink]="['/login']">Login Here</button></h6>
    
    
</form>
  </div>
