<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

img {
height: 200px;
width: 200px;
}
</style>
<body style="background-image:url('https://i.pinimg.com/originals/a2/a5/fa/a2a5fa40d773c1d9af8868fe9ff530fe.jpg');">

  <div class="topnav">
    <a class="active" href="#home">BITE Studio</a>
    <div class="topnav-right">
      <a href = "/show">Show Documents</a>
    </div>
  </div> 

<div class="col-md-6 offset-md-3 mt-5" style="background-color: rgb(203, 247, 247)">
       <a target="_blank" href="https://getform.io?ref=codepenHTML">
          <img src="https://api.freelogodesign.org/files/0cc68538948843c187ec8b601a7abde1/thumb/logo_200x200.png?v=637551981670000000" alt="Simply Easy Learning">
        </a>
        <br>
        <h1>Upload Details Here</h1>
        <form #uploadsuccess = "ngForm" (ngSubmit)="onUpload()">
          <div class="form-group">
            <label for="exampleSourceName">Source Address</label>
            <input type="text" name="Source" class="form-control" id="exampleSourceName" placeholder="Enter Source Address" required="required">
          </div>
          <div class="form-group">
    <label for="stime">Source Time:</label>
    <input type="time" class="form-control" placeholder="enter source time" name="date" required>
  </div>
          <div class="form-group">
            <label for="exampleDestinationName" required="required">Destination Address</label>
            <input type="email" name="email" class="form-control" id="exampleDestinationName" aria-describedby="emailHelp" placeholder="Enter Destination Address">
            <div class="form-group">
    <label for="dtime">Destination Time:</label>
    <input type="time" class="form-control" placeholder="enter Destination time" name="date" required>
  </div>
          </div>
          <hr>
          <div class="form-group mt-3">
            <label class="mr-2">Upload your File:</label>
            <input type="file" (change)="onFileChanged($event)">
          </div>
          <hr>
          <div class="form-group">
  <button [disabled]="uploadsuccess.form.invalid" class= "btn btn-info" (click)="onUpload()" [routerLink]="['/uploaded']" value="upload">Upload</button>
  <h6 class="float-right" style="margin: auto;"><button class="btn btn-success" [routerLink]="['/show']">Show</button></h6>
  <!-- <input type="button" [routerLink]="['/show']" value="Show"> -->
</div>
<br>
        </form>
    </div> 
    

</body>
</html>