<div class="topnav">
  <a class="active" href="#home">BITE Studio</a>
  <div class="topnav-right">
    <a href = "/loginsuccess">What is BITE?</a>
    <a href = "/show">Show LogFile</a>
    <a href = "/login">Log Out</a>
  </div>
</div> 

<div class="container" style="text-align: center; margin-top: 40px;">
<h2 style="color: rgb(241, 11, 11);">Upload The Log Files</h2><br>
  </div>





  <div class="container">
    <div class="jumbotron" style="text-align: center; ">
      
    
    <label class="file">
      <input type="file" (change)="onFileChanged($event)" (change)="onChange($event.target.files)" [(ngModel)]="file"/>
      <span class="file-custom"></span>
    </label>
    
    
      <button [disabled]="file===''" class= "btn btn-info" (click)="onUpload()" [routerLink]="['/dashboard']" >Upload</button>
    </div>
    </div>
    <div class="container" style="margin: auto; width: 800px;">
    <h3><u>File Content</u>:</h3>
    </div><br>
    <div class="container" style="margin: auto; width: 800px; border: 2px solid green; border-radius: 10px;">
      <pre>{{fileContent}} </pre>
    </div>
