<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(15, 240, 248);">
  <a class="navbar-brand" href="#"><h3 style="color: rgb(80, 5, 5); text-shadow: -2px 2px white;">Shadow BITE</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/registration']">Sign Up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/show']">Show_Documents</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<div class="topnav">
  <a class="active" href="#home">BITE Studio</a>
  <div class="topnav-right">
    <a href = "/show">Show Documents</a>
    <a href = "/loginsuccess">Upload File</a>
  </div>
</div> 

<div class="container" style="text-align: center; margin-top: 80px;">
<h3 style="color: rgb(241, 11, 11);">Successully Uploaded</h3><br>
  <button class="button" [routerLink]="['/show']"><span>Show Files</span></button>
    <!-- <input type="button" [routerLink]="['/show']" value="Show"> -->
  </div>
